@charset "UTF-8";
/* ROOT */
@font-face {
    font-family:'Lexend';
    src: url(../font/Lexend/Lexend-VariableFont_wght.ttf) format(opentype);
}
@font-face {
    font-family:'Josefin';
    src: url(../font/Josefin_Sans/JosefinSans-VariableFont_wght.ttf) format(opentype);
}
:root{
    --font01:'Lexend';
    --font02:'Josefin';

    --cor01:#BD2A2E;
    --cor02:#3B3936;
    --cor03:#b2bebf;
    --cor04:#889c9b;
    --cor05:#486966;
}
*{
    margin: 0px;
    padding: 0px;
}
html, body{
    background-color: rgb(218, 215, 215);
}

.container{
    background-color: white;
    /* padding: 15px; */
    display: grid;
    gap: 10px;
    grid-template-areas: 
    'header header header'
    'main main aside'
    'footer footer footer'
    
    ;
}

.container div{
    /* background-color: #b2bebf; */
    padding: 20px;
    /* border: 1px solid blue; */


} 
h2{
    font-weight: 500;
    font-size: 19px;
    font-style: italic;
    font-family: var(--font01);
}
p, h3, a{
    font-family: var(--font02);
}
/* HEADER */
#header{
    grid-area: header;
    height: 8vh;
    background-color: #889c9b;
    
}
header > li{
    padding: 10px;
    text-align: center;;
}
h1{
    font-family: var(--font01);
    font-weight: 500;
    font-style: normal;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.349);
}
h1:hover{
    transition: .3s;
}
em{
    color: #BD2A2E;
    font-weight: 600;
    font-style: italic;
}
em:hover{
    color: #fc2027;
}
#burger{
    color: #BD2A2E;
    display: block;
    text-align: right;
    margin: 10px;
    margin-top: -50px;
    cursor: pointer;
}
menu{
    display: none;
}
menu > ul{
    list-style-type: none;

}
menu > ul > li > a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    text-align: center;
}
menu > ul > li > a:hover{
    transition: .5s;
    background-color: #486966;
    color: white;
}

/* MAIN */
#main{
    background-color: #b2bebf;
    grid-area: main;
    height: 100vh;
    margin: 10px;
    border-radius: 10px;
    text-align: justify;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.342);
}

article{
    border-radius: 10px;
    text-indent: 10px;
    text-justify: auto;
    
}
.title-article{
    margin-bottom: 10px;
    transition: .3s;
}
.title-article:hover{
    color: #BD2A2E;
}

/* ASIDE */
#aside{
    background-color: #b2bebf;
    grid-area: aside;
    height: 100vh;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.342);
}

.link-int{
    text-decoration: none;
    color: black;
    margin: auto;
}
.link-int:hover{
    color: #BD2A2E;
    text-decoration: underline ;

}
legend{
    font-size: 25px;
    font-style: italic;
}
.div-orç{
    /* border: 1px dashed red; */
    text-align: center;
}
.l{
    box-sizing: 10px;
    display: block;
    text-align: center;
    font-size: 24px;
}
input{
    /* margin: 10px 60px; */
    padding: 2px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #BD2A2E;
}
input:hover{
    background-color: #be3e43;
    color: white;
    transition: .3s;
}
#txtvel, #txtvel1, #txtvel2, #txtvel3, #iemail, #isenha, #icpf, #idata{
    width: 200px;
}
#txtvel3{
    padding: 2px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #BD2A2E; 
}
#txtvel3:hover{
    background-color: #be3e43;
    color: white;
    transition: .3s;
}
#imp-car{
    text-align: center;
    font-size: 20px;
}
#div-bq{
    /* border: 1px solid red; */
    padding: 10px 0px;
    text-align: center;
}
.b-q{
    height: 25px;
    width: 75px;
}
#res{
    font-size: 15px;
    text-align: center;
    font-family: var(--font01);
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.281);
    background-color: white;
}
/* FOOTER */
#footer{

    grid-area: footer;
    height: 25vh;
    background-color: rgba(0, 0, 0, 0.836);
}
#footer>p{
    margin-top: 50px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    color: white;
}
#footer div{
    padding: 0;
}
.link-ext{
    text-decoration: none;
    color: #BD2A2E;
    padding: 5px;
}
.link-ext:hover{
    background-color: #BD2A2E;
    color: white;
    border-radius: 5px;
}
.icon-redes{
    /* border: 1px dashed red; */
    margin-left: 45%;
    margin-right: -45%;

}
.redes{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
}
.footer-p{
    margin-top: 10px;
    color: white;
    text-align: center;
}
/* LOGIN */
#h1-log{
    text-align: center;

}
.main-log{

    background: url(../img/carro-log1.jpg);
    background-position:  bottom right;
    background-repeat: no-repeat;
    background-size: contain;
}
.cont-log{
    /* border: 1px solid red; */
    width: 20vw;
    margin: 5px;
    padding: 0;
}
.lista-log{
    margin-bottom: 10px;
    font: 10px;
}
.lista-log:hover{
    font: 12px;
    text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.219);
}

/* VEICULOS */
.main-veiculos{
    width: 90vw;
}
#title-catalago{
    margin: 10px;
    text-align: center;
}
#catalago{
    padding: 0px 20px;
}

div span{
    cursor: pointer;
    margin-top: 5px;
    margin-left: 5px;
}
.card{
    display: inline-block;
    margin: 5px 5.8px;
    width: 255px;
    height: 210px;
    text-align: left;
    border: .5px solid black;
    border-radius: 10px;
    background-color: white;
}

#card1{
    background: url(../img/carro5.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
}
#card2{    
    background: url(../img/carro1.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
        background-color: white;
}
#card3{
    background: url(../img/moto1.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
        background-color: white;
}
#card4{
    background: url(../img/carro4.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
        background-color: white;
}
#card5{
    background: url(../img/carro3.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
        background-color: white;
}
#card6{
    background: url(../img/moto2.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
        background-color: white;

}
#card7{
    background: url(../img/moto3.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
        background-color: white;

}
#card8{
    background: url(../img/moto4.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
        background-color: white;

}
#card9{
    background: url(../img/carro2.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
        background-color: white;

}
#card10{
    background: url(../img/carro6.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
        background-color: white;

}
#card11{
    background: url(../img/carro7.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
        background-color: white;

}
#card12{
    background: url(../img/moto5.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
        background-color: white;

}
.card:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.76);
    transform: translateZ(30px) scale(1.1);
    background-color: white;
    
}
.card h2{
    margin-top: 145px;

}
.card h3{
    color: #BD2A2E;
}
/* PARCEIROS */

.main-parceria{
    height: 100vh;
}
.legend-parc{
    margin: 0;
    padding: 0;
    text-align: center;
    height: 10px;
}

.div-parc{
    border: .5px solid #486966;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.486);
    margin: auto;
    margin-top: 10px;
    width: 55vw;
    height: 16vh;
}
.div-parc:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.76);
    transform: translatex(10px) ;
    background-color: rgba(255, 255, 255, 0.459);
    
}
.parc-1{
    margin: 10px;
    padding: 0;
    height: 4vh;
}
.b-q1{
    margin-top: 10px;
    height: 25px;
    width: 75px;
    background-color: rgba(255, 255, 255, 0.459);
    border: 1px solid #486966;
}
#pessoa:hover{
    color: rgb(48, 125, 241);
}
#familia:hover{
    color: rgb(248, 69, 69);
}
#eco:hover{
    color: green;
}
#retro:hover{
    color: rgb(194, 104, 2);
}