@charset "UTF-8";
/* ROOT */
@font-face {
    font-family:'Lexend';
    src: url(../font/Lexend/Lexend-VariableFont_wght.ttf) format(opentype);
}
:root{
    --font01:'Lexend';

    --cor01:#BD2A2E;
    --cor02:#3B3936;
    --cor03:#b2bebf;
    --cor04:#889c9b;
    --cor05:#486966;
}
*{
    margin: 0px;
    padding: 0px;
}
html, body{
    background-color: rgb(218, 215, 215);
}
.container{
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
}

header{
    background-color: #b2bebf;
    grid-area: header;
}
main{
    background-color: white;
    grid-area: main;
    height: 90.3vh;
    width: 100vw;
}
footer{
    background-color: #486966;
    grid-area: footer;
}